# ──────────────────────────────────────────────────────────────────────────────
# .gitconfig — your git config goes here
# ──────────────────────────────────────────────────────────────────────────────

[user]
	name = Samuel Nystedt
	email = samuel.nystedt@volvocars.com
[core]
    excludesfile = ~/.gitignore
[init]
    defaultBranch = main
[core]
	excludesFile = ~/.config/git/ignore
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[pull]
	rebase = true